<!doctype html>
<html lang="en">
	<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>What We Wanna: Families</title>
		<link rel="stylesheet" href="stylesheets/base.css">
		<link rel="stylesheet" href="stylesheets/skeleton.css">
		<link rel="stylesheet" href="stylesheets/font-awesome.css" />
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
	</head>
	<body>
		<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '230032940372423', // App ID
      channelUrl : '//WWW.whatwewanna.co.nz/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here

  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
		<section id="wanna-app">
			<section id="app-nav">
				
			</section>
			<div class="container">
				<div class="sixteen columns">	
					<section id="main">			  
					</section>
				</div>
			</div>
		</section>
		<!-- Templates -->
		<script type="text/template" id="nav-template">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="#/"><i class="icon-pushpin"></i> What We Wanna</a>
						<ul class="nav">
							<li><a href="#/">Search</a></li>
							<li><a href="#results/">Places</a></li>
							<li><a href="#user/">User</a></li>
						</ul>
						<div class="pull-right">
								<% if(loggedIn) { %>
									<a href="#user/" class="btn">Hi <%= name%></a>
									<button class="signout btn">Sign-Out</button>
								<% } else { %>
									<a href="#signin/" class="btn btn-success">Sign-In</a>
									<a href="#signup/" class="btn btn-link">Sign-Up</a>
								<% } %>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/template" id="place-template">
			<div class="view">
				<div id="place_<%= id %>" class="note">
					<div class="six columns alpha">
						<h5><%= name %></h5>
						<blockquote>
							<p><%= description %></p>
						</blockquote>
					</div>
					<div class="six columns omega">
							<p><%= address %></p>
							<p><em><strong><%= distance %>km</strong> away</em></p>
							<button class="recommend-by btn btn-link">Recommended By <span class="badge badge-success">2</span></button>
							<button class="on-todo-list btn btn-link">On Todo List <span class="badge badge-success">2</span></button>
					</div>
					<div class="two columns">
					
						<% if(canRemoveRecommended) { %>
							<div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
								<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
								<button class="remove-recommend btn"><i class="icon-thumbs-up"></i> Remove Recommend</button>
							</div>
						<% } else if(canRemoveTodo) { %>
							<div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
								<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
								<button class="remove-bookmark btn"><i class="icon-star"></i> Remove To-Do</button>
							</div>
						<% } else { %>
							<div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
								<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
								<button class="comments btn"><i class="icon-comments"></i> Comments</button>
								<button class="bookmark btn"><i class="icon-star"></i> To-Do</button>
								<button class="recommend btn"><i class="icon-thumbs-up"></i> Recommend</button>
							</div>
						<% } %>
						
					</div>
				</div>
				<div id="recommended_<%= id %>" class="six columns offset-by-six" style="display:none;">
					<blockquote>
						<p>Users that have recommended this</p>
					</blockquote>
					<ul id="recommended_<%= id %>_users"></ul>
				</div>
				<div id="todo_<%= id %>" class="six columns offset-by-six" style="display:none;">
					<blockquote>
						<p>Users that this on thier todo list</p>
					</blockquote>
					<ul id="todo_<%= id %>_users"></ul>
				</div>
				<div id="comments_<%= id %>" class="sixteen columns alpha" style="display:none;">
				</div>
				<div id="map_<%= id %>_canvas" class="sixteen columns alpha" style="height:320px; display:none;">
				</div>
			</div>
			<div class="clear"></div>
			<hr />
		</script>
		<script type="text/template" id="related-user-template">
			<a class="btn btn-link" href="#user/<%= id %>"><i class="icon-user"></i> <%= name %></a>
		</script>
		<script type="text/template" id="search-template">
		<div class="view">
			<p><em><%= address %></em> <a class="btn btn-link" href="#/user">Change Location</a></p>			
			<hr />
			<div class="hero-unit">
				<p>Search for children friendly place's that you and your kids will enjoy.</p>
				<form class="form-inline" id="find-places" method="post">
					<label for="locationfilter">Where?</label>
					<input type="text" name="locationfilter" id="locationfilter" value="" placeholder="Area to search"  />
					<label for="typefilter">What?</label>
					<input type="text" name="typefilter" id="typefilter" value="" placeholder="Keyword(s) - comma seperated"  />
					<button type="submit" class="btn btn-primary btn-large">Find New Places</button>
				</form>
			</div>	
		</div>
		</script>
		<script type="text/template" id="user-template">
		<div class="view">
				<div class="three columns alpha">
					<img class="pull-left img-polaroid" src="http://placehold.it/64x64">
				</div>
				<div class="three columns omega">
					<h3><%= name%></h3>
					<% if(app.BrowsingUserSession.isLoggedIn(id)) { %>
						<p><em><%= email%></em>
					<% } %>
				</div>
				<div class="ten columns">
					<% if(app.BrowsingUserSession.isLoggedIn(id)) { %>
						<p><em><%= app.BrowsingUserSession.get("address") %></em> <button id="location" class="btn btn-link">Change Location</button></p>
					<% } %>
				</div>
				<div class="clear"></div>
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#user-todos">To Do List</a></li>
					<li><a data-toggle="tab" href="#user-recommended">Recommended</a></li>
					<li><a data-toggle="tab" href="#user-owned">Added</a></li>
				</ul>	
				<div class="tab-content">
					<div class="active tab-pane" id="user-todos">
						<blockquote><i class="icon-star"></i> Places on the todo list</blockquote>
						<input type="text" id="filter-todos" placeholder="filter to do's...">
						<ul id="todos-list"></ul>
					</div>
					<div class="tab-pane" id="user-recommended">
						<blockquote><i class="icon-thumbs-up"></i> Places that have been recommended</blockquote>
						<input type="text" id="filter-recommended" placeholder="filter recommended...">
						<ul id="recommended-list"></ul>
					</div>
					<div class="tab-pane" id="user-owned">
						<blockquote><i class="icon-plus"></i> Places that have been added</blockquote>
						<input type="text" id="filter-owned" placeholder="filter owned...">
						<ul id="owned-list"></ul>
					</div>
				</div>
		</div>	
		</script>
		<script type="text/template" id="signup-template">
		<div class="view">
			<ul class="nav nav-tabs" id="sign-up-in-tabs">
				<li class="active"><a data-toggle="tab" href="#sign-in-tab">Sign In</a></li>
				<li><a data-toggle="tab" href="#sign-up-tab">Sign Up</a></li>
			</ul>	
			<div class="tab-content">
				<div class="tab-pane active" id="sign-in-tab">
					<div class="hero-unit">
						<form class="form-horizontal" id="signin-form" method="post">
							<h2>Account Sign-In</h2>
							<div class="control-group">
								<input type="email" name="email" id="signin-email" value="" placeholder="Email"  />
							</div>	
							<div class="control-group">
								<input type="password" name="password" id="signin-pw" placeholder="Password"  />
							</div>
							<div class="control-group">
								<button type="submit" class="btn btn-success btn-large">Sign In</button>
							</div>
						</form>
					</div>
				</div>
				<div class="tab-pane" id="sign-up-tab">
					<div class="hero-unit">
						<div class="six columns alpha">
							<h2>Sign-Up</h2>
							<form class="form-horizontal" id="signup-form" method="post">
								<div class="control-group">
									<input type="text" name="name" id="signup-name" value="" placeholder="Name"  />
								</div>
								<div class="control-group">
									<input type="email" name="email" id="signup-email" value="" placeholder="Email"  />
								</div>	
								<div class="control-group">
									<input type="password" name="password" id="signup-pw" value="" placeholder="Password"  />
								</div>
								<div class="control-group">
									<label class="checkbox">
										<input type="checkbox" name="newsletter" value="1" id="signup-newsletter"> Recieve Newsletter?
									</label>
								</div>
								<div class="control-group">
									<button type="submit" class="btn btn-primary btn-large">Create Account</button>
								</div>
							</form>
						</div>
						<div class="six columns alpha">
							<h2>Signing up for your free account allows you to</h2>
							<ul>
								<li><p><i class="icon-ok"></i> Keep track of your todo list of places you want to go.</p></li>
								<li><p><i class="icon-ok"></i> Recommend places for other users.</p></li>
								<li><p><i class="icon-ok"></i> Add places that you know others will love.</p></li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>	
		</div>
		</script>
		<script type="text/template" id="add-template">
		<div class="view">
		<div class="hero-unit">
			<p><i class="icon-check"></i> Add a new place so that others can enjoy it.</p>
			<form id="addNoteForm" method="POST">
				<div class="two-third column alpha">
					<label for="name">Give it a title</label>
					<input type="text" name="name" id="name" value=""  placeholder="Title"/>	
					<label for="description">Tell us about it</label>
					<textarea name="description" id="description" placeholder="Description"></textarea>
				</div>
				<div class="on-third column omega">
					<label for="address">Tell people the address</label>
					<input type="text" id="address" name="address"/>
					<input type="hidden" name="latitude" id="latitude" />
					<input type="hidden" name="longitude" id="longitude" />
					<button id="submit" class="btn btn-primary btn-large" type="submit">Add Place</button>
				</div>
				
				<div class="clear" />
			</form>
		</div>
		</div>
		</script>
		<script type="text/template" id="found-template">
		<div class="view">
			<div class="six columns alpha">
				<input type="text" id="filter-by" placeholder="filter places...">
			</div>
			<div class="ten columns omega">
				<a class="btn" href="#addplace/"><i class="icon-plus"></i> Add New Place</a>
			</div>
			<div class="clear" />
			<ul id="places-list"></ul>
		</div>
		</script>
		<!-- App Source -->	
		<script src="js/jquery-1.8.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/backbone-min.js"></script>
		<script src="js/backbone_offline.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src="js/places.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script src="//connect.facebook.net/en_US/all.js"></script>
	</body>
</html>