<!doctype html>
<html lang="en">
	<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>What We Wanna: Families</title>
		<link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="stylesheets/font-awesome.css" />
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
		<script>
			window.fbAsyncInit = function() {
				 console.info('FB jssdk loaded');
				FB.init({
					appId: '230032940372423'
				});
			};
			// Load the SDK Asynchronously
			(function(d){
			   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			   if (d.getElementById(id)) {return;}
			   js = d.createElement('script'); js.id = id; js.async = true;
			   js.src = "//connect.facebook.net/en_US/all.js";
			   ref.parentNode.insertBefore(js, ref);
			 }(document));
		</script>
	</head>
	<body>
		
		<section id="wanna-app">
			<section id="app-nav">
				
			</section>
			<div class="container">
				<div class="row">	
					<section id="main">			  
					</section>
				</div>
			</div>
		</section>
		<!-- Templates -->
		<script type="text/template" id="nav-template">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="#/"><i class="icon-pushpin"></i> What We Wanna</a>
						<ul class="nav">
							<li><a href="#/">Places</a></li>
							<li><a href="#user/">User</a></li>
						</ul>
						<div class="pull-right">
						<% if(app.AuthenticatedUser.isConnected()) { %>
							<a href="#join/" class="btn">Logout</a>
						<% } else { %>
							<a href="#join/" class="btn btn-primary"> Join</a>
							<a href="#join/" class="btn">Login</a>
						<% } %>	
						</div>
					</div>
				</div>
				<div id="fb-root"></div>
			</div>
		</script>
		<script type="text/template" id="place-template">
			<div id="place_<%= id %>">
						<h3><%= name %></h3>
							<p class="lead"><%= description %></p>
							<address><%= address %></address>
							<p><em><strong><%= distance %>km</strong> away</em></p>
							<button class="recommend-by btn btn-link">Recommended By <span class="badge badge-success">2</span></button>
							<button class="on-todo-list btn btn-link">On Todo List <span class="badge badge-success">2</span></button>
					
						<% if(canRemoveRecommended) { %>
							<div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
								<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
								<button class="remove-recommend btn"><i class="icon-thumbs-up"></i> Remove Recommend</button>
							</div>
						<% } else if(canRemoveTodo) { %>
							<div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
								<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
								<button class="remove-bookmark btn"><i class="icon-star"></i> Remove To-Do</button>
							</div>
						<% } else { %>
							<div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox">
								<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
								<button class="bookmark btn"><i class="icon-star"></i> To-Do</button>
								<button class="recommend btn"><i class="icon-thumbs-up"></i> Recommend</button>
							</div>
						<% } %>
				<div id="recommended_<%= id %>" style="display:none;">
					<p class="lead">Users that have recommended this</p>
					<ul id="recommended_<%= id %>_users"></ul>
				</div>
				<div id="todo_<%= id %>" style="display:none;">
					<p class="lead">Users that this on thier todo list</p>
					<ul id="todo_<%= id %>_users"></ul>
				</div>
				<div id="map_<%= id %>_canvas" style="height:320px; display:none;">
				</div>
			</div>
		</script>
		<script type="text/template" id="related-user-template">
			<a class="btn btn-link" href="#user/<%= id %>"><i class="icon-user"></i> <%= name %></a>
		</script>
		<script type="text/template" id="search-template">
		<div class="view">
			<p><em><%= address %></em> <a class="btn btn-link" href="#/user">Change Location</a></p>			
			<hr />
			<div class="hero-unit">
				<p>Search for children friendly place's that you and your kids will enjoy.</p>
				<form class="form-inline" id="find-places" method="post">
					<label for="locationfilter">Where?</label>
					<input type="text" name="locationfilter" id="locationfilter" value="" placeholder="Area to search"  />
					<label for="typefilter">What?</label>
					<input type="text" name="typefilter" id="typefilter" value="" placeholder="Keyword(s) - comma seperated"  />
					<button type="submit" class="btn btn-primary btn-large">Find New Places</button>
				</form>
			</div>	
		</div>
		</script>
		<script type="text/template" id="user-template">
		<div class="view">
				<img class="pull-left img-polaroid" src="<%= thumbnail%>">
				<h3><%= name%></h3>
				<div class="clear"></div>
				<ul class="nav nav-tabs">
				<% if(app.BrowsingUserSession.isLoggedIn(id)) { %>
					<li class="active"><a data-toggle="tab" href="#user-account">Account</a></li>
					<li><a data-toggle="tab" href="#user-todos">To Do List</a></li>
				<% } else { %>
					<li class="active"><a data-toggle="tab" href="#user-todos">To Do List</a></li>
				<% } %>
					<li><a data-toggle="tab" href="#user-recommended">Recommended</a></li>
					<li><a data-toggle="tab" href="#user-owned">Added</a></li>
				</ul>	
				<div class="tab-content">
					<% if(app.BrowsingUserSession.isLoggedIn(id)) { %>
						<div class="active tab-pane" id="user-account">
							<blockquote><i class="icon-user"></i> Your account</blockquote>
							<h3><%= name%></h3>
							<p>email: <%= email%></p>
							location:<input id="address" name="address" type="text" value="<%= app.BrowsingUserSession.get("address") %>" />
							<small>NOTE: Your location is only used to show the distance to places</small>
						</div>
						<div class="tab-pane" id="user-todos">
							<blockquote><i class="icon-star"></i> Places on the todo list</blockquote>
							<input type="text" id="filter-todos" placeholder="filter to do's...">
							<ul id="todos-list"></ul>
						</div>
					<% } else { %>
						<div class="active tab-pane" id="user-todos">
							<blockquote><i class="icon-star"></i> Places on the todo list</blockquote>
							<input type="text" id="filter-todos" placeholder="filter to do's...">
							<ul id="todos-list"></ul>
						</div>
					<% } %>
					<div class="tab-pane" id="user-recommended">
						<blockquote><i class="icon-thumbs-up"></i> Places that have been recommended</blockquote>
						<input type="text" id="filter-recommended" placeholder="filter recommended...">
						<ul id="recommended-list"></ul>
					</div>
					<div class="tab-pane" id="user-owned">
						<blockquote><i class="icon-plus"></i> Places that have been added</blockquote>
						<input type="text" id="filter-owned" placeholder="filter owned...">
						<ul id="owned-list"></ul>
					</div>
				</div>
		</div>	
		</script>
		<script type="text/template" id="login-template">
		<div class="view">
			<div class="hero-unit">
				<div class="eight columns alpha">
					<h2>Welcome</h2>
					
					<% if(app.AuthenticatedUser.isConnected()) { %>
						<a href="#user/" class="btn btn-primary">Hi <%= name%></a>
						<button id="logout" class="btn">Logout</button>
					<% } else { %>	
						<button id="login" class="btn btn-primary"><i class="icon-facebook"></i> Connect with Facebook</button>
					<% } %>
				</div>
				<div class="six columns omega">		
					<h2>Joining allows you to</h2>
					<ul>
						<li><p><i class="icon-ok"></i> Keep track of your todo list of places you want to go.</p></li>
						<li><p><i class="icon-ok"></i> Recommend places for other users.</p></li>
						<li><p><i class="icon-ok"></i> Add places that you know others will love.</p></li>
					</ul>
				</div>
				<div class="clear" />
			</div>	
			<div id="fb-root"></div>
		</div>
		</script>
		<script type="text/template" id="add-template">
		<div class="view">
		<div class="hero-unit">
			<p><i class="icon-check"></i> Add a new place so that others can enjoy it.</p>
			<form id="addNoteForm" method="POST">
				<div class="two-third column alpha">
					<label for="name">Give it a title</label>
					<input type="text" name="name" id="name" value=""  placeholder="Title"/>	
					<label for="description">Tell us about it</label>
					<textarea name="description" id="description" placeholder="Description"></textarea>
				</div>
				<div class="on-third column omega">
					<label for="address">Tell people the address</label>
					<input type="text" id="address" name="address"/>
					<input type="hidden" name="latitude" id="latitude" />
					<input type="hidden" name="longitude" id="longitude" />
					<button id="submit" class="btn btn-primary btn-large" type="submit">Add Place</button>
				</div>
				
				<div class="clear" />
			</form>
		</div>
		</div>
		</script>
		<script type="text/template" id="found-template">
		<div class="view">
			<form class="form-inline" id="find-places" method="post">
				<label for="locationfilter">Where?</label>
				<select name="locationfilter" id="locationfilter">
					<option value="nelson-tasman">Nelson/Tasman</option>
					<option value="wellington">Wellington</option>
					<option value="demo">Demo</option>
				</select>
				<label for="typefilter">What?</label>
				<input type="text" name="typefilter" id="typefilter" value="" placeholder="Keyword(s) - comma seperated"  />
				<button type="submit" class="btn btn-primary">Find New Places</button>
			</form>
			<!--<div class="six columns alpha">
				<input type="text" id="filter-by" placeholder="filter found places...">
			</div>-->
			<!--<div class="ten columns omega">
				<a class="btn" href="#addplace/"><i class="icon-plus"></i> Add New Place</a>
			</div>-->
			<div class="clear" />
			<div id="places-list"></div>
		</div>
		</script>
		<script type="text/template" id="visualise-places-template">
		<div class="view">
			<form class="form-inline" id="find-places" method="post">
				<select name="locationfilter" id="locationfilter">
					<option>Where are you?</option>
					<option value="nelson-tasman">Nelson/Tasman</option>
					<option value="wellington">Wellington</option>
					<option value="demo">Demo</option>
				</select>
			</form>
			<div id="modal-place-detail"></div>
			<div class="clear" />
			<div id="places-visual"></div>
		</div>
		</script>
		<script type="text/template" id="place-detail-template">
		<div id="place_<%= id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<h3 id="myModalLabel"><%= name%></h3>
				</div>
				<div class="modal-body">
					<h4>Description</h4>							
					<p><%= description%></p>
					<h4>Address</h4>						
					<p><%= address%></p>
					<p>About <%= distance%> km away</p>
					<h4>Labels</h4>
					<p><%= labels %></p>
				</div>
				<div class="modal-footer">
					<% if(canRemoveRecommended) { %>
						<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
						<button class="remove-recommend btn"><i class="icon-thumbs-up"></i> Remove Recommend</button>
					<% } else if(canRemoveTodo) { %>
						<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
						<button class="remove-bookmark btn"><i class="icon-star"></i> Remove To-Do</button>
						
					<% } else { %>
						<button class="map btn"><i class="icon-map-marker"></i> Show Map</button>
						<button class="bookmark btn"><i class="icon-star"></i> To-Do</button>
						<button class="recommend btn"><i class="icon-thumbs-up"></i> Recommend</button>
					<% } %>
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
		</div>
		</script>
		<!-- App Source -->	
		<script src="js/jquery-1.8.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/backbone-min.js"></script>
		<script src="js/backbone_offline.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src="js/FacebookUser.js"></script>
		<script src="js/places.js"></script>
		<script src="js/d3.v2.min.js"></script>
		<script src="js/d3.legend.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	</body>
</html>