/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#baseline corrections
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Typography (baseline corrections)
================================================== */

	h1 { line-height: 49px; margin-bottom: 14px;}
	h2 { line-height: 42px; margin-bottom: 7px; }
	h3 { line-height: 35px; margin-bottom: 7px; }
	h4 { line-height: 28px; margin-bottom: 7px; }
	h5 { line-height: 21px; }

	p { margin: 0 0 21px 0; }
	p.lead { line-height: 28px; }


/*	Blockquotes  */
	blockquote, blockquote p { line-height: 21px;}
	blockquote { margin: 0 0 21px; padding: 7px 20px 0 19px; }

	hr { margin: 14px 0 28px;}
	
/* #Lists (baseline corrections)
================================================== */
	ul, ol { margin-bottom: 21px; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 7px 0 7px 30px; }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 7px; }
	li { line-height: 21px; margin-bottom: 14px; }
	
	
	

/* #Site Styles
================================================== */

@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/websymbols/websymbols-regular-webfont.woff') format('woff'),
	     url('../fonts/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}



* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	}

.band {
	background: url(../images/bg_main.png) repeat #f8f8f8;
	padding: 0 0 14px 0;	
}

.band.navigation {
	background: url(../images/stitch_hr.png) left top repeat-x,
				url(../images/bg_dark.png) repeat left 2px,
				#343434;	
	padding: 0;
	color: #e0e0e0; 
}

/*ie multiple background image fallbacks*/
.ie .band.navigation {
	background: url(../images/bg_dark.png) repeat left 2px #343434;
}
/*navigation*/
nav.primary ul,
nav.primary ul li {
	margin: 0px;
}

nav.primary select {
	display: none;
	width:  100%;
	height: 28px;
	margin: 21px 0;
}

nav.primary ul li {
	display: inline;
	float: left;
	position: relative;
}

nav.primary ul li a {
	display: inline-block;
	line-height: 49px;
	padding:  0 14px;
	color: #ebebeb;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.08em;
}

nav.primary ul li a:hover {
	background: #424242;
	cursor: pointer;
}

/*sub menu*/
nav.primary ul ul {
	opacity: 0; 
  	filter: alpha(opacity=0); 

	position: absolute;
	top:100%;
	left: 0;
	z-index: 999;
	background: url(../images/bg_bottom.png);
	
	height: 0px;
	overflow: hidden;
	
	width: 100%;
	
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	-ms-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}

nav.primary ul li span {
	display: none;
}

nav.primary ul li:hover ul {
	opacity: 10; 
  	filter: alpha(opacity=100); 
  	
	height: auto;
	overflow: auto;
}

nav.primary ul ul li {
	float: none;
	display: list-item;
	border-bottom: 1px solid #383737;
}

nav.primary ul ul li a {
	display: block;
	line-height: 35px;
	text-transform: none;
}

nav.primary ul li:hover > a {
	background: #424242;
}

/* #Page Styles
================================================== */

.yellow-button{
    background-color: #e7d785;
  background-image: -moz-linear-gradient(top, #fffeb8, #c49c38);
  background-image: -ms-linear-gradient(top, #fffeb8, #c49c38);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fffeb8), to(#c49c38));
  background-image: -webkit-linear-gradient(top, #fffeb8, #c49c38);
  background-image: -o-linear-gradient(top, #fffeb8, #c49c38);
  background-image: linear-gradient(top, #fffeb8, #c49c38);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeb8', endColorstr='#c49c38', GradientType=0);
  border-color: #c49c38 #c49c38 #896d27;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #c49c38;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #e7d785;
  color: #333333;
}

.yellow-button:hover {
    background-color: #c49c38;
  *background-color: #b08c32;
}

.green-button {
  background-image: -moz-linear-gradient(top, #75be61, #5aa745);
  background-image: -o-linear-gradient(top, #75be61, #5aa745);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#75be61), to(#5aa745));
  background-image: -webkit-linear-gradient(#75be61, #5aa745);
  background-image: linear-gradient(top, #75be61, #5aa745);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75be61', EndColorStr='#5aa745');
}

.green-button:hover {
  background-image: -moz-linear-gradient(top, #95cd85, #5aa745);
  background-image: -o-linear-gradient(top, #95cd85, #5aa745);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#95cd85), to(#5aa745));
  background-image: -webkit-linear-gradient(#95cd85, #5aa745);
  background-image: linear-gradient(top, #95cd85, #5aa745);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#95cd85', EndColorStr='#5aa745');
}
.blue-button {
  background-image: -moz-linear-gradient(top, #2b9bd6, #015bb7);
  background-image: -o-linear-gradient(top, #2b9bd6, #015bb7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b9bd6), to(#015bb7));
  background-image: -webkit-linear-gradient(#2b9bd6, #015bb7);
  background-image: linear-gradient(top, #2b9bd6, #015bb7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b9bd6', EndColorStr='#015bb7');  
}

.blue-button:hover {
  background-image: -moz-linear-gradient(top, #56afde, #015bb7);
  background-image: -o-linear-gradient(top, #56afde, #015bb7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#56afde), to(#015bb7));
  background-image: -webkit-linear-gradient(#56afde, #015bb7);
  background-image: linear-gradient(top, #56afde, #015bb7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#56afde', EndColorStr='#015bb7');
}

.grey-button {
  background-image: -moz-linear-gradient(top, #ededed, #d6d6d6);
  background-image: -o-linear-gradient(top, #ededed, #d6d6d6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#d6d6d6));
  background-image: -webkit-linear-gradient(#ededed, #d6d6d6);
  background-image: linear-gradient(top, #ededed, #d6d6d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#d6d6d6');
}

.grey-button:hover {
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  text-decoration: none !important;
}

.btn-large {
  font-family: museo-slab, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  padding: 13px 22px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  text-align: left;
}

.btn-large i {
  font-size: 24px;
}

i.logo {
    font-size: 48px;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		nav.primary select {
			display: block;
		}
		
		nav.primary ul {
			display: none;
		}
		
		.bottom footer {
			text-align: center;
		}
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
	
	/* Additional large screens 1280+ */
	@media only screen and (min-width: 1280px) {
		
    	
    	/*nav*/
		.navigation {
			float: left;
		}
		
		.navigation .container {
			padding: 35px 0 0;
			width: 100%;
		}
		
		.navigation .container .sixteen.columns {
			width: 280px;
			margin: 0;
		}
		
		nav.primary ul li {
			clear: both;
			display: block;
			width: 100%;
			border-bottom: 1px solid #383737;
		}
		
		nav.primary ul li > a {
			display: block;
			padding: 0 30px;
		}
		
		nav.primary ul ul li a,
		nav.primary ul li a {
			line-height: 39px;
		}
		
		nav.primary ul ul {
			top: 0;
			left: 100%;
		}
		
		h3.logo {
			display: none;
		}
		
		header h1.logo {
			margin: 7px 0 0 25px;
		}
		
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/