/* Tags
-----------------------------------------------------------------------------------------------------------*/
.tags {background-color:rgba(247,103,0,0.5);padding:2px;border-radius:10px;}
span.tags em {margin: 5px;}
span.tags { margin-right: 5px; }

/* Rating Stars
-----------------------------------------------------------------------------------------------------------*/  
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  float:left;
}
.rating > span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 1em;
  font-size:2em; /* Bigger Middots - @mprogano */
}
.rating > span:hover {
  text-indent: 9999px;
  color: gold;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   color: gold;
   position: absolute;
   left: 0;
   /*top: -2px; V.Align Center - @mprogano 
   left: 0;
   font-size:0.90em; Smaller Stars - @mprogano */
}

div.rating-label {
    display: none;
    color:black;
    font-size:1em;
}

span:hover + div.rating-label {
    display: block;
}


